*:not(p) {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


header {
  width: 100%;
  overflow: hidden;
}

nav {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: #A19882;
  color: #FEF7DC;
  position: fixed;
  z-index: 999;
  top: 0;
  box-shadow: 0px 2px 15px rgb(53, 53, 53);
}

nav h2 {
  padding-left: 40px;
  flex-basis: 66%;
  font-family: 'Otomanopee One',
    sans-serif;
}

nav .list ul {
  display: flex;
  justify-content: space-evenly;
}

nav .list {
  flex-basis: 30%;
}

nav .list ul li {
  list-style: none;
}

nav .list ul li a {
  text-decoration: none;
  color: #FEF7DC;
  padding: 5px 10px;
  border-radius: 50px;
}

nav .list ul li a:hover {
  background-color: #FEF7DC;
  color: #A19882;
}



.hamburgerMenu {
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
}

.openHamburger .hamburgerButton {
  background: transparent;
}

.openHamburger .hamburgerButton::before {
  transform: rotate(45deg);
}

.openHamburger .hamburgerButton::after {
  transform: rotate(-45deg);
}

.hamburgerButton {
  background-color: #FEF7DC;
  width: 20px;
  height: 4px;
  border-radius: 2px;
  transition: .5s ease-in-out;
  /* display: none; */
}

.hamburgerButton::before,
.hamburgerButton::after {
  position: absolute;
  content: "";
  background-color: #FEF7DC;
  width: 20px;
  height: 4px;
  border-radius: 2px;
  transition: .5s ease-in-out;
}

.hamburgerMenu:hover {
  cursor: pointer;
}

.hamburgerButton::before {
  transform: translateY(-6.5px);
}


.hamburgerButton::after {
  transform: translateY(6.5px);
}

.cssMode {
  position: relative;
}

.cssMode .mode {
  font-size: 20px;
}

.cssMode .lightMode {
  position: absolute;
  z-index: 1;
  opacity: 1;
}

.cssMode:hover {
  cursor: pointer;
}

.cssMode .nightMode {
  opacity: 0;
}

.lightMode:hover {
  color: #fffdf6;
}

@media screen and (max-width : 1000px) {
  nav h2 {
    flex-basis: 53%;
  }

  nav .list {
    flex-basis: 43%;
  }
}

@media screen and (max-width : 768px) {
  nav h2 {
    flex-basis: 40%;
  }

  nav .list {
    flex-basis: 56%;
  }
}

@media screen and (max-width : 576px) {
  nav h2 {
    flex-basis: 83%;
    padding-left: 20px;
  }

  .hamburgerMenu {
    display: flex;
    margin-left: 10px;
    z-index: 100;
  }

  .cssMode {
    padding-right: 10px;
  }

  .list {
    position: fixed;
    height: 100vh;
    justify-content: center;
    top: -100vh;
    left: 0;
    right: 0;
    display: flex;
    background-color: rgba(161, 152, 130, .7);
    transition: top 1s ease;
  }

  .list ul {
    margin-top: 10%;
    height: 80%;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
  }

  nav .list ul li a:hover {
    padding: 20px;
  }
}